<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>购物车</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->     <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>     <![endif]-->
    <link rel="stylesheet" href="/styles/jquery.spinner.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css"/>
    <style>
        .mem_tit {
            width: 880px;
            margin: 0px auto;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            color: #333333;
            font-size: 16px;
        }

        .sm_img {
            width: 48px;
            height: 48px;
            overflow: hidden;
            float: left;
            display: inline;
            margin-right: 10px;
            border: 1px solid #eaeaea;
        }

        #myCart {
            width: 880px !important;
            margin: 0 auto;

        }

        #myCart tr td:nth-child(2) {
            width: 360px;
        }

        #myCart tr td:nth-child(4) input {
            width: 40px;
            text-align: center;
        }

        .curSingleCartprice{
            color: red;
            font-weight: bold;
        }
        .gwc_tb3 {
            width: 100%;
            border: 1px solid #d2d2d2;
            background: #e7e7e7;
            height: 46px;
            margin-top: 20px;
        }

        .tb1_td1 {
            width: 35px;
            text-align: center;
        }

        .gwc_tb3 tr td {
            font-size: 14px;
        }

        .tb3_td1 {
            width: 448px;
            text-align: center;
        }

        .tb3_td2 {
            width: 100px;
            text-align: center;
        }

        #jz1 {
            font-size: 18px;
        }

        .jz2 {
            width: 100px;
            height: 46px;
            line-height: 46px;
            text-align: center;
            font-size: 18px;
            color: #fff;
            background: #ee0000;
            display: block;
            float: right;
        }
    </style>
</head>
<body id="cartBody" style="position: relative; padding-bottom: 47px;">
<div class="mem_tit">我的购物车</div>
<table id="myCart" class="table">
    <tr>
        <th>全选<input type="checkbox" id="selectAll"/></th>
        <th>商品信息</th>
        <th>单价</th>
        <th>数量</th>
        <th>金额</th>
        <th>操作</th>
    </tr>

</table>
<table cellpadding="0" cellspacing="0" class="gwc_tb3" style="position: fixed;bottom: 0px">
    <tbody>
    <tr>
        <td class="tb1_td1">&nbsp;</td>
        <td class="tb1_td1">&nbsp;</td>
        <td class="tb3_td1">&nbsp;</td>
        <td class="tb3_td2">已选商品 <label id="num" style="color:#ff5500;font-size:14px; font-weight:bold;">0</label>
            件
        </td>
        <td class="tb3_td3">合计(不含运费):<span>￥</span><span style=" color:#ff5500;"><label id="price" style="color:#ff5500;font-size:14px; font-weight:bold;">0.00</label></span>
        </td>
        <td class="tb3_td4"><a href="javascript:void(0);" onclick="goOrder()" style="display: block;" class="jz2" id="jz2">结算</a></td>
    </tr>
    </tbody>
</table>
</body>
<script src="/scripts/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/scripts/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/scripts/member/cart.js"></script>
<script src="/scripts/jquery.spinner.js"></script>
<script>
    /*<![CDATA[*/
    $(function () {
        //初始化购物车数据
        initDatas();

        //重置父页面iframe高度
        resetIframeHeight();

        //初始化数值微调器
        $(".spinner")
            .spinner('delay', 200) //delay in ms
            .spinner('changed', function (e, newVal, oldVal) {
                // trigger lazed, depend on delay option.
                var tr=$(e.target).parent().parent().parent();
                //异步请求此商品的库存
                var goodsId=tr.find("td:eq(0) input").val();
                $.get('/goods/inventory/'+goodsId,null,function (result) {
                    if(result.code==1){
                        alert("商品库存获取失败，请稍后重试");
                    }else{
                        var inventory=result.msg;
                        if(newVal>inventory){
                            $(e.target).val(oldVal);
                            alert("商品库存量只有"+result.msg+"件");
                        }else{
                            //重新计算此商品的总额
                            tr.find("td:eq(4)").text("￥"+(parseInt(parseFloat(tr.find("td:eq(2)").text().split("￥")[1])*100)*newVal/100).toFixed(2));                         //向后台提交更改后购物车中的该商品数量
                            if(newVal>oldVal){// add
                                $.post('/cart',{
                                    goodsId:goodsId,
                                    num:newVal-oldVal
                                },function (result) {
                                    if(result.code==1){
                                        alert(result.msg);
                                    }
                                });
                            }else{//decr
                                $.ajax({
                                    url:'/cart',
                                    type:'post',
                                    data:{
                                        goodsId:goodsId,
                                        num:oldVal-newVal,
                                        _method:'put'
                                    },
                                    dataType:'json',
                                    success:function (result) {

                                        if(result.code==1){
                                            alert(result.msg);
                                        }
                                    }
                                    })
                            }
                            //更新购物车总金额
                            resetPriceAndNum();
                        }
                    }
                })


            });


        //增加全选/反选功能
        $('#selectAll').click(function () {
            //获取选中状态
            var isChecked = $(this).is(":checked");
            //如果选中
            if (isChecked) {
                $('input[name=goods_id]').prop("checked",true);
                //修改选中总价格和总件数
                resetPriceAndNum();

            }else{//未选中
                $('input[name=goods_id]').prop("checked",false);
                //修改选中总价格和总件数
                resetPriceAndNum();
            }

        });


        //从购物车中移除商品
        $('.removeGoods').click(function (e) {
            var othis=$(e.target);
            var goodsId=othis.parent().parent().find("td:eq(0) input").val();
            $.ajax({
                url:"/cart",
                type:'post',
                data:{
                    _method:'delete',
                    goodsId:goodsId
                },
                dataType:'json',
                success:function (result) {
                    if(result.code==1){
                        alert(result.msg);
                    }else {
                        //dom操作移除当前行
                        othis.parent().parent().remove();
                        //重置iframe高度
                        resetIframeHeight();
                        //重置购物车底栏数据
                        resetPriceAndNum();
                    }
                },
                async:false
            })

        })

        //如果某一件商品的选框状态发生改变时
        $.each($('input[name=goods_id]'),function (i,item) {
            $(item).change(function () {
                //统计此时全部选框选中的数量
                var selectedNum=$('input[name=goods_id]:checked').length;
                //统计全部选课的数量
                var allNum=$('input[name=goods_id]').length;
                if(selectedNum==allNum){
                    //选中全选框
                    $('#selectAll').prop("checked",true);
                }else{
                    $('#selectAll').prop("checked",false);
                }
                //修改选中总价格和总件数
                resetPriceAndNum();

            });
        });


    })


    function initDatas() {
        $.ajax({
            url:'/cart/list',
            data:null,
            type:'get',
            dataType:'json',
            success:function (result) {
                var total = result.total;
                $.each(result.rows, function (index, item) {
                    var html = "<tr><td><input type=\"checkbox\" name=\"goods_id\" value=\"" + item.goodsId + "\"/></td>\n" +
                        "            <td><div class=\"sm_img\"><a href=\"/goods/" + item.goodsId + "\" style=\"margin-top: 0px\" target=\"_blank\"><img src=\"http://secondhand-oss.oss-cn-beijing.aliyuncs.com/" + item.goodsImage + "?x-oss-process=style/48_size\" width=\"48\" height=\"48\" style=\"margin-top: 0px\"></a></div><a href=\"/goods/" + item.goodsId + "\" style=\"font-size: 12px;\" target=\"_blank\" id=\"goodsName"+item.goodsId+"\">" + item.goodsName + "</a></td>\n" +
                        "            <td><span style='color: #000;font-weight: bold'>￥" + (item.goodsPrice * 1.0 / 100).toFixed(2) + "</span></td>\n" +
                        "            <td><div data-trigger=\"spinner\" class='spinner'>\n" +
                        "  <a href=\"javascript:;\" data-spin=\"down\">-</a>\n" +
                        "  <input type=\"text\" value=\"" + item.num + "\" data-rule=\"quantity\">\n" +
                        "  <a href=\"javascript:;\" data-spin=\"up\">+</a>\n" +
                        "</div></td>\n" +
                        "            <td class='curSingleCartprice'>￥" +( (item.goodsPrice * 1.0 / 100) * item.num).toFixed(2) + "</td>" +
                        "            <td><a href='javascript:void(0)' class='removeGoods'>删除</a></td></tr>";
                    $('#myCart').append(html);
                });
            },
            async:false
        })



    }


    function resetIframeHeight() {
        window.parent.document.getElementById('external-frame').setAttribute("height", document.getElementById("cartBody").clientHeight);
    }

    function resetPriceAndNum(){
        $('#num').text($('input[name=goods_id]:checked').length);
        var price=0;
        $.each($('input[name=goods_id]:checked'),function (i,item) {
            var cur=parseInt(parseFloat($(item).parent().parent().find("td:eq(4)").text().split("￥")[1])*100);
            console.log(cur);
            price=price+cur;
        })
        $('#price').text((price/100).toFixed(2));
    }


    function goOrder(){
        //获取所有选中商品id及其购买数量
        var goodsIdInputs=$('input[name=goods_id]:checked');
        if(goodsIdInputs==null||goodsIdInputs.length==0){
            alert('没有任何一件商品被选中');
            return ;
        }
        var goodsIdsArr=new Array();
        var numArr=new Array();
        var flag=true;

        //检查物品状态
        for(var i=0;i<goodsIdInputs.length;i++){
            var goodsId=$(goodsIdInputs[i]).val();
            $.ajax({
                url:'/goods/publishStatus/'+goodsId,
                type:'get',
                dataType:'json',
                success:function (result) {
                    var status=result.msg;
                    var goodsName=$('#goodsName'+goodsId).text();
                    if(status==0){
                        alert(goodsName+'物品已被卖家删除，无法结算。请从购物车中删除');
                        flag=false;

                    }
                    if(status==2){
                        alert(goodsName+'物品已被卖家下架，无法结算，请从购物车中删除');
                        flag=false;
                    }
                },
                async: false
            })

            if(flag==false){
                return ;
            }
        }

        //检查物品库存量
        for(var i=0;i<goodsIdInputs.length;i++){
            var goodsId=$(goodsIdInputs[i]).val();
            $.ajax({
                url:'/goods/inventory/'+goodsId,
                type:'get',
                dataType:'json',
                success:function (result) {
                    var inventory=result.msg;
                    var goodsName=$('#goodsName'+goodsId).text();
                    if(inventory==0){
                        alert(goodsName+'物品无货');
                        flag=false;
                        return;
                    }
                    if(num>inventory){
                        alert(goodsName+'物品存货不足，只剩余'+inventory+'件存货！');
                        flag=false;
                        return;
                    }
                },
                async: false
            })

            if(flag==false){
                return;
            }
        }

        if(!flag){
            return ;
        }

        $.each(goodsIdInputs,function(i,item){
            var goodsId=$(item).val();
            var num=$(item).parent().parent().find("td:eq(3) input").val();
            goodsIdsArr.push(goodsId);
            numArr.push(num);
        });


        console.log(goodsIdsArr.join(","));
        console.log(numArr.join(","));

        window.parent.location.href='/order/create?goodsIds='+goodsIdsArr.join(",")+"&nums="+numArr.join(",");
    }
    /*]]>*/
</script>
</html>