<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>账户安全</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/member/safe.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->     <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>     <![endif]-->
</head>
<body>
<p></p>
<div class="mem_tit">账户安全</div>
<div class="m_des">
    <form>
        <table border="0" style="width:880px;" cellspacing="0" cellpadding="0">
            <tbody>
            <tr height="45">
                <td width="80" align="right">原手机 &nbsp; &nbsp;</td>
                <td><input type="text" value="" class="add_ipt" style="width:180px;"/>&nbsp; <font
                        color="#ff4e00">*</font></td>
            </tr>
            <tr height="45">
                <td align="right">新手机 &nbsp; &nbsp;</td>
                <td><input type="text" value="" class="add_ipt" style="width:180px;"/>&nbsp; <font
                        color="#ff4e00">*</font></td>
            </tr>
            <tr height="50">
                <td>&nbsp;</td>
                <td><input type="submit" value="确认修改" class="btn_tj"/></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="m_des">
    <form>
        <table border="0" style="width:880px;" cellspacing="0" cellpadding="0">
            <tbody>
            <tr height="45">
                <td width="80" align="right">原邮箱 &nbsp; &nbsp;</td>
                <td><input type="text" value="" class="add_ipt" style="width:180px;"/>&nbsp; <font
                        color="#ff4e00">*</font></td>
            </tr>
            <tr height="45">
                <td align="right">新邮箱 &nbsp; &nbsp;</td>
                <td><input type="text" value="" class="add_ipt" style="width:180px;"/>&nbsp; <font
                        color="#ff4e00">*</font></td>
            </tr>
            <tr height="50">
                <td>&nbsp;</td>
                <td><input type="submit" value="确认修改" class="btn_tj"/></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="m_des">
    <form id="passwordForm">
        <table border="0" style="width:880px;" cellspacing="0" cellpadding="0">
            <tbody>
            <tr height="45">
                <td width="80" align="right">原密码 &nbsp; &nbsp;</td>
                <td><input type="password" value="" name="originalPassword" class="add_ipt" style="width:180px;"/>&nbsp;
                    <font
                            color="#ff4e00">*</font></td>
            </tr>
            <tr height="45">
                <td align="right">新密码 &nbsp; &nbsp;</td>
                <td><input type="password" value="" name="newPassword" class="add_ipt" style="width:180px;"/>&nbsp;
                    <font
                            color="#ff4e00">*</font></td>
            </tr>
            <tr height="45">
                <td align="right">确认密码 &nbsp; &nbsp;</td>
                <td><input type="password" name="confirmNewPassword" value="" class="add_ipt" style="width:180px;"/>&nbsp; <font
                        color="#ff4e00">*</font></td>
            </tr>
            <tr height="50">
                <td>&nbsp;</td>
                <td><input type="button" onclick="updatePassword()" value="确认修改" class="btn_tj"/></td>
            </tr>
            </tbody>
        </table>
    </form>

</div>
</body>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script>
    /*<![CDATA[*/
    function updatePassword() {
        var originalPassword = $('#passwordForm input[name=originalPassword]').val();
        var newPassword = $('#passwordForm input[name=newPassword]').val();
        var confirmNewPassword = $('#passwordForm input[name=confirmNewPassword]').val();

        if (originalPassword == null || $.trim(originalPassword) == ''||originalPassword.length<6) {
            alert("输入的原始密码不足6位");
            return ;
        }

        if (newPassword == null || $.trim(newPassword) == ''||newPassword.length<6) {
            alert("输入的新密码不足6位");
            return ;
        }
        if (confirmNewPassword == null || $.trim(confirmNewPassword) == ''||confirmNewPassword.length<6) {
            alert("输入的确认密码不足6位");
            return ;
        }

        if(newPassword != confirmNewPassword){
            alert("输入的新密码和确认密码不一致");
            return ;
        }

        $.ajax({
            url:'/user/password',
            type:'post',
            data:{originalPassword:originalPassword,newPassword:newPassword,_method:'put'},
            dataType:'json',
            success:function (result) {
                if(result.code==0){
                    alert(result.msg);
                    window.location.reload();
                }else{
                    alert(result.msg);
                }
            }
            });
    }
    /*]]>*/
</script>
</html>