<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的建议</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/member/suggest.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->     <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>     <![endif]-->
</head>
<body>
<p></p>
<div class="mem_tit">我的建议</div>
<form>
    <table border="0" style="width:880px; margin-top:20px;" cellspacing="0" cellpadding="0">
        <tbody>

        <tr height="45">
            <td align="right">主题 &nbsp; &nbsp;</td>
            <td><input type="text" name="title" value="" class="add_ipt" style="width:290px;"/></td>
        </tr>
        <tr valign="top" height="110">
            <td align="right">留言内容 &nbsp; &nbsp;</td>
            <td style="padding-top:5px;"><textarea name="content" class="add_txt"></textarea></td>
        </tr>

        <tr height="50" valign="bottom">
            <td>&nbsp;</td>
            <td><input type="button" onclick="commitSuggest()" value="提交" class="btn_tj"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
<script src="/scripts/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/scripts/bootstrap.min.js"></script>
<script>
    function commitSuggest() {
        $.post('/suggest',$('form:eq(0)').serialize(),function (result) {
            if(result.code==0){
                alert(result.msg);
                document.location.reload();
            }else{
                alert(result.msg);
            }
        },'json');
    }
</script>
</html>