<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>管理中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/global.css" rel="stylesheet"/>
    <link href="/styles/member/member.css" rel="stylesheet"/>
    <link href="/styles/member/menu.css" rel="stylesheet"/>
    <link href="/styles/member/member_user.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/styles/demo.css"/>
    <link href="/styles/font-awesome.min.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->     <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>     <![endif]-->
</head>
<body class="bg_color">
<div th:replace="/fragment/header :: #header"></div>
<div class="container " style="margin-top: 50px;padding: 0px;">
    <!--用户中心 开始 -->
    <div class="m_left">
        <div class="left_menu">
            <div class="left_n">管理中心</div>
            <div class="left_m">
                <div class="left_m_t t_bg1">订单中心</div>
                <ul>
                    <li><a href="Member_Order.html">我的订单</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg2">会员中心</div>
                <ul>
                    <li><a href="Member_User.html" class="now">用户信息</a></li>
                    <li><a href="Member_Address.html">收货地址</a></li>
                    <li><a href="Member_Collect.html">我的收藏</a></li>
                    <li><a href="Member_Msg.html">我的留言</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg3">账户中心</div>
                <ul>
                    <li><a href="Member_Safe.html">账户安全</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg4">其他功能</div>
                <ul>
                    <li><a href="Member_Member.html">用户公告</a></li>
                    <li><a href="Member_Member.html">我的举报</a></li>
                    <li><a href="Member_Member.html">我的建议</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t">管理操作</div>
                <ul>
                    <li><a href="Member_Member.html">后台面板</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="m_right">
        <div class="m_des">
            <table border="0" style="width:850px; line-height:22px;margin: 0 auto" cellspacing="0" cellpadding="0">
                <tbody>
                <tr valign="top">
                    <td width="115"><img src="http://secondhand-oss.oss-cn-beijing.aliyuncs.com/img/avatar/c8eb62d426f146ed91e737c14bd1fb90.png?x-oss-process=style/90_size" width="90" height="90"/></td>
                    <td style="padding-left: 25px;">
                        <div class="m_user">TRACY</div>
                        <p style="font-size: 12px;">
                            <div>等级：<span>实名用户</span></div>
                            <div>上次登录时间:<span>2015-09-28 18:19:47</span></div>
                            <div>上次登录ip地址:<span>192.168.158.250</span></div>
                            <div>本次登录ip地址:<span>192.168.158.250</span></div>
                            <div>您还没有通过邮件认证 <a href="#" style="color:#ff4e00;">点此发送认证邮件</a></div>
                            <div>您还没有通过实名认证 <a href="#" style="color:#ff4e00;">点此关联身份信息</a></div>
                        </p>
                        <div class="m_notice hidden">
                            用户中心公告！
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mem_t">资产信息</div>
        <table border="0" class="mon_tab" style="width:850px; line-height:22px;margin: 0 auto" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td width="33%">用户等级：<span style="color:#555555;">普通会员</span></td>
                <td width="33%">消费金额：<span>￥200元</span></td>
                <td width="33%">返还积分：<span>99R</span></td>
            </tr>
            <tr>
                <td>账户余额：<span>￥200元</span></td>
                <td>红包个数：<span style="color:#555555;">3个</span></td>
                <td>红包价值：<span>￥50元</span></td>
            </tr>
            <tr>
                <td colspan="3">订单提醒：
                    <font style="font-family:'宋体';">待付款(<span>0</span>) &nbsp; &nbsp; &nbsp; &nbsp;
                        待收货(<span>2</span>) &nbsp; &nbsp; &nbsp; &nbsp; 待评论(<span>1</span>)</font>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mem_t">账号信息</div>
        <table border="0" class="mon_tab" style="width:850px; line-height:22px;margin: 0 auto" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td width="40%">用户ID：<span style="color:#555555;">12345678</span></td>
                <td width="60%">用户名：<span style="color:#555555;">邀请人姓名</span></td>
            </tr>
            <tr>
                <td>电&nbsp; &nbsp; 话：<span style="color:#555555;">1861111111</span></td>
                <td>邮&nbsp; &nbsp; 箱：<span style="color:#555555;">12345678@qq.com</span></td>
            </tr>
            <tr>
                <td>身份证号：<span style="color:#555555;">522555123456789</span></td>
                <td>注册时间：<span style="color:#555555;">2015-10-10</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--用户中心 结束 -->

</div>
<div th:replace="/fragment/footer :: #footer"></div>

</body>

<script src="/scripts/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/nav.js"></script>

</html>