
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/manager/common/header::commonHeader('新增公告')"></head>
<body>
<div class="page-container">
    <form class="form form-horizontal" id="announcementForm" th:with="announcement=${vo.get('content')}">
        <div class="row cl">
            <input type="hidden" name="id" value="0" th:value="${announcement ne null? announcement.id:'0'}"/>
            <input type="hidden" name="entityType" value="2" />
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公告标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="title" name="title" th:value="${announcement ne null? announcement.title:''}"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公告内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea  class="textarea" style="height: auto" value="" placeholder="" id="content" rows="30"  name="content" th:text="${announcement ne null? announcement.content:''}"/>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="announcement_add_pushlish()" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并发布</button>
                <button onClick="announcement_add_save()" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
                <button onClick="layer_close()" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

<div th:include="/manager/common/footer::commonFooter"></div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/scripts/hui/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/scripts/hui/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/scripts/hui/jquery.validation/1.14.0/messages_zh.js"></script>
<script src="/scripts/ajaxfileupload.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        $('#announcementForm').validate({
            rules:{
                title:{
                    required: true,
                    maxlength:100
                },
                content:{
                    required: true
                }
            }
            ,messages:{
                title:{
                    required: "名称不能为空",
                    maxlength: "名称最多不能超过100个字符"
                },
                content:{
                    required: "公告内容不能为空"
                }
            }
        })
    });

    //保存并发布
    function announcement_add_pushlish(){
        addannouncement(1);
    }
    //仅仅保存
    function announcement_add_save() {
        addannouncement(2);
    }

    //保存版图核心方法
    function addannouncement(status) {

        if (!$("#announcementForm").valid()){
            return;
        }

        $.ajax({
            'url':'/manager/content',
            'type':'post',
            'dataType':'json',
            'data':{
                'id':$('input[name=id]').val(),
                'entityType':$('input[name=entityType]').val(),
                'content':$('textarea[name=content]').val(),
                'title':$('input[name=title]').val(),
                'status':status
            },
            'success':function (result) {
                if(result.code==0){
                    //刷新父级的时候会自动关闭弹层
                    window.parent.location.reload();
                }else{
                    layer.alert(result.msg);
                }
            }
        });
    }


    /*]]>*/
</script>
</body>
</html>