
<html xmlns:th="http://www.thymeleaf.org">

<body>
<header id="header" th:with="uri=${#httpServletRequest.getRequestURI()}">
    <nav>
        <a id="logo" href="/">大学校园二手物品交易平台</a>
        <ul id="topnav" class="top_nav top_ul">
            <li><a href="/goods/list">全部分类</a> </li>
            <li th:each="category : ${vo.get('categories')}">
                <a th:text="${category.categoryName}" th:href="${#strings.equalsIgnoreCase(uri,'/')||#strings.equalsIgnoreCase(uri,'/index')||#strings.equalsIgnoreCase(uri,'/index.html')?'#'+categoryStat.index:'/goods/list/'+categoryStat.count}"></a>

            </li>
        </ul>
        <ul class="top_url top_ul" th:if="${vo.get('user') ne null}">
            <li><a href="/goods/addView">发布物品</a></li>
            <li class="info" style="position: absolute"><img src="http://secondhand-oss.oss-cn-beijing.aliyuncs.com/img/avatar/893205a3a15e4780a60e5d7c4f583b34.jpg?x-oss-process=style/40_size" th:src="'http://secondhand-oss.oss-cn-beijing.aliyuncs.com/'+${vo.get('user').headUrl+'?x-oss-process=style/40_size'}" style="width: 30px;height: 30px;border-radius: 20px;margin-right: 5px;"/><a href="javascript:void(0)" th:text="${vo.get('user').name}">个人中心</a></li>
        </ul>
        <ul class="top_url top_ul" th:unless="${vo.get('user') ne null}">
            <li><a href="/login">登录/注册</a></li>
        </ul>
    </nav>
    <script src="/scripts/jquery.min.js"></script>
    <script>
        /*<![CDATA[*/
        $('.info:eq(0)').hover(
            function () {
                $('.info:eq(0)').append('<div style="width: 120px;height: 160px;background-color: #ffda44;position: absolute;top: 71px;left: -25px;z-index: 999">\n' +
                    '                <div style="height: 40px;line-height: 40px;text-align:center"><a href="/member">个人中心</a></div>\n' +
                    '                <div style="height: 40px;line-height: 40px;text-align:center"><a href="/member#cart">购物车</a></div>\n' +
                    '                <div style="height: 40px;line-height: 40px;text-align:center"><a href="/member#collect">我的收藏</a></div>\n' +
                    '                <div style="height: 40px;line-height: 40px;text-align:center"><a href="javascript:void(0)" onclick="logout()">注销</a></div>\n' +
                    '            </div>');
            },
            function () {
                $('.info:eq(0)>div').remove();
            }
        )

        function logout(){
            $.get('/logout',null,function (result) {
                if(result.code==0){
                    window.location.reload();
                }else{
                    alert(result.msg);
                }
            },'json');
        }
        /*]]>*/
    </script>
</header>

</body>
</html>