<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>大学校园二手物品交易平台</title>      <!-- Bootstrap -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/global.css" rel="stylesheet"/>

    <link href="/styles/article.css" rel="stylesheet"/>
    <link href="/styles/font-awesome.min.css" rel="stylesheet"/>
    <link href="/styles/pageHelper.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->     <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>     <![endif]-->
</head>

<body>
<div th:replace="fragment/header :: #header"></div>
<div id="content">
    <div class="partition_title row">
        <blockquote>
            <a href="/announcement/list">官方公告</a>
        </blockquote>
        <div id="article">

            <div class="title_wrap">
                <a class="title" th:text="${vo.get('announcement').title}" href="#">SpringBoot中映射路径匹配保存,想不开，居然这也报错</a>
            </div>
            <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>
                <span th:text="${#dates.format(vo.get('announcement').created, 'yyyy年MM月dd日 HH:mm:ss')}">2017年9月22日 14:22:36</span>
            </div>
            <div class="content" th:text="${vo.get('announcement').content}">
                “这场毕业独唱音乐会，将是我一生最难忘的回忆。”虽然距离1月5日晚的音乐会已经过去几天了，可任凯谈起那晚的经历，心中的感动油然而生。

                1月5日19：30，由湖南理工学院音乐学院声乐教研室艺术实践中心承办的“那就是我”任凯本科毕业独唱音乐会在音乐学院音乐厅举行。指导老师来了，同窗好友来了，不相识的同学也闻讯赶来了。

                任凯，抒情男高音，甘肃会宁人，2014年考入湖南理工学院音乐学院，先后师从庞毅老师、宋杨老师，通过四年的刻苦学习，在声乐方面取得了一定的进步。在当晚的音乐会上，任凯一身西装革履登台，与艺术指导周莹老师配合默契，开场倾情演唱了《在那遥远的地方》、《牧歌》、《桥》、《我亲爱的》等曲目，现场观众掌声不断，而音乐会上最令人惊奇的一幕也在此时发生。
                上半场中途音乐厅突然停电，现场陷入一片黑暗中，这是音乐学院所有音乐会中罕见的意外。令人感叹的是，任凯的演唱和周莹老师的伴奏并没有间断，优美飘渺的琴声烘托着如梦似水的歌声继续着他们的演出。
                停电的过程中，在座的观众们更是表现出了欣赏音乐会的高雅素养。黑暗中，台下观众们都不约而同的将手机闪光灯打开，黑暗的舞台被点点星光照亮，硕大的音乐厅燃起一阵星海，坐在前排的学生也及时到台上为艺术指导周莹老师照明，这次停电成为了音乐会上最美好的意外，也将音乐会推向了高潮。

                这小小的意外事件丝毫没有影响任凯与观众分享音乐的热情，接着他展示了驾驭不同风格歌曲的实力。《天神赐粮》、《女人善变》两首意大利歌曲让台下观众赞不绝口；艺术歌曲《祖国，亲爱的母亲》、《两地曲》表达了亿万中华儿女对祖国母亲赤诚的爱和人们对爱情的美好向往；《星光灿烂》和《那就是我》将全场气氛掀至最高潮。最后任凯表示：“今天真是一场难忘的音乐会，非常感谢今天到场的所有观众在这寒冷的冬夜里来看音乐会，同时也要特别感谢我的指导老师宋杨老师，没有他就没有今天的音乐会，感谢他对我的培养和教育。”随后宋杨老师也走上舞台和他共同演唱了《我的太阳》，本场音乐会在台下观众经久不息的掌声中落下帷幕。
                “一切都是最好的安排。”在音乐会结束后，指导老师宋杨感叹道。（撰文/焦晶晶  摄影/方云霓  责编/陈绪清）
            </div>




        </div>

    </div>
</div>
<div th:replace="fragment/footer :: #footer"></div>

<script src="/scripts/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/tags.js"></script>
<script src="/scripts/nav.js"></script>
</body>
</html>