<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Sign Up Login</title>
    <link rel="stylesheet" href="/styles/login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'/>

</head>

<body>


<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>LOGIN</h2>
                        <p>登录面板</p>
                        <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>SIGN UP</h2>
                        <p>注册面板</p>
                        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                    </div>
                </div>
            </div>
            <div class="cont_back_info">
                <div class="cont_img_back_grey"><img src="/images/login_background.jpg" alt=""/></div>
            </div>
            <div class="cont_forms">
                <div class="cont_img_back_"><img src="/images/login_background.jpg" alt=""/></div>
                <div class="cont_form_login"><a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>LOGIN</h2>
                    <form id="loginForm" action="#" method="post">
                        <input type="text" name="id" placeholder="id/学号/邮箱/手机号"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="button" class="btn_login" id="login">LOGIN</button>
                    </form>
                </div>
                <div class="cont_form_sign_up"><a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>SIGN UP</h2>
                    <form id="registerForm" action="" method="post" >
                        <input type="text" name="name" placeholder="name"/>
                        <input type="text" name="email" placeholder="email"/>
                        <input type="text" name="phone" placeholder="phone"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="button"  class="btn_sign_up" id="register">SIGN UP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/login.js"></script>
<script>
    $(function () {
        var mao=window.location.hash;
        if(mao==null||mao==''){
            mao='#login';
        }
        if(mao=='#login'){
            $('.btn_login:eq(0)').click();
            return ;
        }
        if(mao=='#register'){
            $('.btn_sign_up:eq(0)').click();
            return ;
        }

    });

    $("#login").click(function () {

        $.ajax({
            url: '/login',
            type: 'post',
            data: $("#loginForm").serialize(),
            dataType: 'json',
            success:function (result) {
                if (result.code == 0) {
                    window.location.href = '/member';
                } else {
                    alert(result.msg);
                }
            }
        })
    })

    $("#register").click(function () {

        $.ajax({
            url: '/register',
            type: 'post',
            data: $("#registerForm").serialize(),
            dataType:'json',
            success: function (result) {
                if (result.code == 0) {
                    $('.btn_login:eq(0)').click();
                } else {
                    alert(result.msg);
                }
            }
        })
    })
</script>


</body>
</html>
