<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>大学校园二手物品交易平台</title>
    <link rel="stylesheet" href="/styles/login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'/>

</head>

<body>


<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>登录</h2>
                        <p>登录面板</p>
                        <button class="btn_login" onclick="cambiar_login()">登录</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>注册</h2>
                        <p>注册面板</p>
                        <button class="btn_sign_up" onclick="cambiar_sign_up()">注册</button>
                    </div>
                </div>
            </div>
            <div class="cont_back_info">
                <div class="cont_img_back_grey"><img src="/images/login_background.jpg" alt=""/></div>
            </div>
            <div class="cont_forms">
                <div class="cont_img_back_"><img src="/images/login_background.jpg" alt=""/></div>
                <div class="cont_form_login"><a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>登录</h2>
                    <form id="loginForm" action="#" method="post">
                        <input type="text" name="name" placeholder="用户名"/>
                        <input type="password" name="password" placeholder="密码"/>
                        <button type="button" class="btn_login" id="login">登录</button>
                    </form>
                </div>
                <div class="cont_form_sign_up"><a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>注册</h2>
                    <form id="registerForm" action="" method="post" >
                        <input type="text" name="name" placeholder="name"/>
                        <input type="text" name="email" placeholder="email"/>
                        <input type="text" name="phone" placeholder="phone"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="button"  class="btn_sign_up" id="register">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/login.js"></script>
<script>
    /*<![CDATA[*/
    $(function () {
        if(self!=top){
            window.parent.location=window.location;

        }


        var mao=window.location.hash;
        if(mao==null||mao==''){
            mao='#login';
        }
        if(mao=='#login'){
            $('.btn_login:eq(0)').click();
            return ;
        }
        if(mao=='#register'){
            $('.btn_sign_up:eq(0)').click();
            return ;
        }

    });

    /**
     * 验证用户输入手机号是否符合格式
     */
    function checkPhone(phone){
        if(/^1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/.test(phone)){
            return true;
        }else{
            return false;
        }
    }
    /**
     * 验证用户输入的邮箱是否符合格式
     */
    function checkEmail(email){
        if(/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(email)){
            return true;
        }else{
            return false;
        }
    }

    var loginInputArr = new Array(
        {inputId: 'name', inputName: 'name',inputIndex:0,name:'用户名'},
        {inputId: 'password', inputName: 'password',inputIndex:0,name:'密码'});

    var registerInputArr = new Array(
        {inputId: 'name', inputName: 'name',inputIndex:0,name:'用户名'},
        {inputId: 'email', inputName: 'email',inputIndex:0,name:'邮箱'},
        {inputId: 'phone', inputName: 'phone',inputIndex:0,name:'手机号'},
        {inputId: 'password', inputName: 'password',inputIndex:1,name:'密码'});

    function checkNotNull(arr) {
        var flag = true;
        for (var i = 0; i < arr.length; i++) {
            var selector = 'input[name=' + arr[i].inputName+']:eq('+arr[i].inputIndex+')';
            console.log($(selector).val());
            if ($(selector).val() == '' || $(selector).val() == null) {
                flag = false;
                alert(arr[i].name+"不能为空");
                $(selector).focus();
                return flag;
            }
        }
        return flag;
    }


    $("#login").click(function () {
        //参数非空校验
        if(!checkNotNull(loginInputArr)){
            return ;
        }
        $.ajax({
            url: '/login',
            type: 'post',
            data: $("#loginForm").serialize(),
            dataType: 'json',
            success:function (result) {
                if (result.code == 0) {
                    window.location.href = '/member';
                } else {
                    alert(result.msg);
                }
            }
        })
    })

    $("#register").click(function () {
        //参数非空校验
        if(!checkNotNull(registerInputArr)){
            return ;
        }
        //邮箱格式验证
        if(!checkEmail($('input[name=email]:eq(0)').val())){
            alert("邮箱格式不对，请重新输入");
            $('input[name=email]:eq(0)').val('');
            $('input[name=email]:eq(0)').focus();
            return ;
        }
        //手机号格式验证
        if(!checkPhone($('input[name=phone]:eq(0)').val())){
            alert("手机号格式不对，请重新输入");
            $('input[name=phone]:eq(0)').val('');
            $('input[name=phone]:eq(0)').focus();
            return;
        }
        $.ajax({
            url: '/register',
            type: 'post',
            data: $("#registerForm").serialize(),
            dataType:'json',
            success: function (result) {
                if (result.code == 0) {
                    $('.btn_login:eq(0)').click();
                } else {
                    alert(result.msg);
                }
            }
        })
    })

    /*]]>*/
</script>


</body>
</html>
