
* {
    font-size: 12px;
}

body {
    padding: 0px 20px;
    overflow: hidden;
}

.mem_tit {
    width: 880px;
    margin: 0px auto;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    color: #333333;
    font-size: 16px;
}

.fr {
    float: right;
}

table {
    margin: 0 auto;
}

table.order_tab {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

table.order_tab tr td {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
}

.sm_img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-right: 10px;
    border: 1px solid #eaeaea;
}

a {
    color: #555555;
    text-decoration: none;
    cursor: pointer;
}

#pageHelper{
    position: fixed;
    bottom: 20px;
    width: 880px!important;
    text-align: center;
}