<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>身份验证</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%"
       style="border-collapse: collapse;background-color: #ebedf0;font-family:'Alright Sans LP', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Source Han Sans SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi MicroHei', sans-serif;">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" align="center" width="640">
                <tbody>
                <tr>
                    <td style="height:20px;"></td>
                </tr>

                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="640">
                            <tbody>
                            <tr style="line-height: 40px;">
                                <td width="80" style="padding-left: 290px;">
                                    <a href="http://email.morse.qiniu.com/c/eJxNjcEOwiAQRL-GHskuuN3lwMGq_Q9bICWxVmoNvy_ezEzm8JKZCT4JzS512RtARtMkiMC6BWgiJDPwBcztOtBo1AnWbX9HXfIzf_S8rd3iJYlLgDZMfejxDgwWopAkSjLZKN3DL8fxUvaszNhca_3r7x7bMTgmtm2-lB_9AukTKdM"
                                       target="_blank">
                                        <img src="/images/tiaozao.png"
                                             width="54">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="40"></td>
                </tr>
                <tr>
                    <td style="background-color: #fff;border-radius:6px;padding:40px 40px 0;">
                        <table>
                            <tbody>
                            <tr height="40">
                                <td style="padding-left:25px;padding-right:25px;font-size:18px;font-family:'微软雅黑','黑体',arial;">
                                    尊敬的<a href="mailto:1017097573@qq.com" target="_blank">1017097573@q
                                    <wbr>
                                    q.com</a>，您好,
                                </td>
                            </tr>
                            <tr height="15">
                                <td></td>
                            </tr>
                            <tr height="30">
                                <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                                    感谢您使用跳蚤市场服务。
                                </td>
                            </tr>
                            <tr height="30">
                                <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                                    请点击以下链接进行邮箱验证，以便开始使用您的跳蚤市场服务账户：
                                </td>
                            </tr>
                            <tr height="60">
                                <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:14px;">
                                    <a href="http://email.morse.qiniu.com/c/eJxFT8tOwzAQ_BrnGK3trJ0cckgwKVAaCQFnZByHusTNo0FE_XoWLmhXM6vVaEbTlX2OruiTUArgmguanHPQKQGkiBxFrW9A3JoaG8EyiONy8ekczuErdWNMjiVCVvBee7AdXV2uwCFq8nFS80z5ZCiP6zpdmKyYaGincVnt8O9BLzsFwg_rLZGPNgzEbjz3YYlMNh2T5vBSbe21wvb6Kg9Qb-4ZT-8CmEBpmFAkM3t1v9u3j37ib6p4kCflP-_M99MWd-5Pliwlp5ZQaNSSuszzb_wP_Q5KFg"
                                       target="_blank"
                                       style="display: inline-block;color:#fff;line-height: 40px;background-color: #1989fa;border-radius: 5px;text-align: center;text-decoration: none;font-size: 14px;padding: 1px 30px;">
                                        马上验证邮箱
                                    </a>
                                </td>
                            </tr>
                            <tr height="10">
                                <td></td>
                            </tr>
                            <tr height="20">
                                <td style="padding-left:55px;padding-right:55px;font-family:'微软雅黑','黑体',arial;font-size:12px;">
                                    如果您无法点击以上链接，请复制以下网址到浏览器里直接打开：
                                </td>
                            </tr>
                            <tr height="30">
                                <td style="padding-left:55px;padding-right:65px;font-family:'微软雅黑','黑体',arial;line-height:18px;">
                                    <a style="color:#0c94de;font-size:12px;"
                                       href="http://email.morse.qiniu.com/c/eJxFT8tOwzAQ_BrnGK3trJ0cckgwKVAaCQFnZByHusTNo0FE_XoWLmhXM6vVaEbTlX2OruiTUArgmguanHPQKQGkiBxFrW9A3JoaG8EyiONy8ekczuErdWNMjiVCVvBee7AdXV2uwCFq8nFS80z5ZCiP6zpdmKyYaGincVnt8O9BLzsFwg_rLZGPNgzEbjz3YYlMNh2T5vBSbe21wvb6Kg9Qb-4ZT-8CmEBpmFAkM3t1v9u3j37ib6p4kCflP-_M99MWd-5Pliwlp5ZQaNSSuszzb_wP_Q5KFg"
                                       target="_blank">
                                        https://portal.qiniu.com/api/gaea/email/confirm?d=MTAxNzA5NzU3M0BxcS5jb20%3D&amp;m=K6IGKNLep1_69J3j6ekHDwQxmGc%3D
                                    </a>
                                </td>
                            </tr>

                            <tr height="40"></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height:150px;"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<img width="1px" height="1px"
     src="http://email.morse.qiniu.com/o/eJwVzEEOgzAMRNHTNMvINphJFtlQ2nsgcNQsKApV719XI_3dvL3UpFuuoRUhBosvMROih6Iqq8y4kzyWWZ9yG-k4r4_F3t7tG7fzCK8yrBOU4IoBiWTKYqAdqLqqGYWrsNuUoRhc6P1__AGEBiAh">
<style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {
    display: none !important;
}</style>
</body>
</html>