<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/manager/common/header::commonHeader('修改密码')"></head>
<body>
<article class="page-container" th:with="user=${vo.get('user')}">
	<form action="/" method="post" class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>id：</label>
			<input type="hidden" name="id" th:value="${user.id}"/>
			<div class="formControls col-xs-8 col-sm-9" th:text="${user.id}"> 15 </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9" th:text="${user.name}"> 张三 </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="password" id="password"/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="password2"  id="password2"/>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" onclick="updatePassword()"/>
				<button onClick="layer_close()" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<div th:include="/manager/common/footer::commonFooter"></div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/scripts/hui/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/scripts/hui/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/scripts/hui/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
$(function(){
	$("#form-change-password").validate({
		rules:{
            password:{
				required:true,
				minlength:6,
				maxlength:16
			},
            password2:{
				required:true,
				minlength:6,
				maxlength:16,
				equalTo: "#password"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid"

	});
});
/**
 * submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
 */
function updatePassword(){
    if (!$("#form-change-password").valid()){
        return;
    }

    $.ajax({
        'url':'/manager/member/change-password',
        'type':'post',
        'dataType':'json',
        'data':{
            'id':$('input[name=id]').val(),
            'password':$('input[name=password]').val()
        },
        'success':function (result) {
            if(result.code==0){

               layer.alert(result.msg,function () {
                   layer_close();
               });

            }else{
                layer.alert(result.msg);
            }
        }
    });
}
    /*]]>*/
</script>
</body>
</html>