body {
    min-width: 1280px;
}

#header {
    width: 100%;
    height: 90px;
    background-color: #ffda44;

}

#header nav {
    width: 1190px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#header #logo {
    float: left;
    margin-top: 22.5px;
    display: inline-block;
    width: 208px;
    height: 45px;
    background: url("/images/logo.png") no-repeat;
    margin-right: 30px;
}

#header .top_ul {
    float: left;
    font-size: 15px;
    line-height: 90px;
    padding-left: 0;
}

#header .top_ul li {
    float: left;
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    height: auto;
}

#header .top_ul li a {
    color: #000;
}

#header .top_nav:after {
    content: '|';
}

#header .top_url li:first-child {
    margin-left: 20px;
}

#content {
    width: 1190px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

#footer {
    margin-top: 40px;
    font-size: 12px;

}

#footer > div {
    width: 1190px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}