.row{
    margin: 0px;
}
.shops {
    margin-bottom: 40px;
}

#condition {
    width: 1160px;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
}
#condition .row {
    border-bottom: 1px dotted #dbdbdb;
    margin-top: 10px;
    height: auto;
    line-height: 40px;
    overflow: hidden;
}

#condition .row  ul {
    overflow: hidden;
    float: left;
    margin-left: 0;
    padding-left: 0;
    max-width: 1045px;
    height: auto;
}

#condition .row > span {
    float: left;
    margin-right: 35px;
    font-weight: bold;
}
#condition .row li {
    float: left;
    list-style-type: none;
    padding-right: 18px;

}

#condition .row li a {
    color: #000;
}

#condition .row:first-child {
    padding-top: 0px;
}

#condition .row:last-child {
    border-bottom: none;
}

.highlight{
    color: #ffda44!important;
    font-weight: bold;
}

.shop_wrap{
    display: inline-block;
    width: 270px;
    height: auto;
    margin: 15px 15px 15px 15px;

    box-shadow: 4px 4px 12px #F2F2F2;
    border-radius: 4px;
    font-family: "Microsoft YaHei";
    text-decoration: none;
}


.shop_wrap:hover{


    box-shadow: 6px 6px 16px #DEDEDE;
    border-radius: 8px;
    transition: all 0.25s ease 0s;
    text-decoration: none;
}
.shop_wrap .shop_img{
    width: 100%;
    height: 200px;
}
.shop_img img{
    width: 100%;
    height: 200px;
    display: block;
}
.shop_wrap .description{
    width: inherit;
    height: auto;
    padding: 15px;
}
.description p{
    margin-bottom: 5px;
}
.description .shop_price{
    color: red;
    font-size: 18px;
    font-weight: bold;


}
.description .shop_name{
    color: #000;
    font-size: 14px;
    height: 39px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description .date{
    font-size: 14px;
    color: #A3A3A3;
    line-height: 30px;
}

.description .address{
    font-size: 14px;
    border: 1px solid #3ac9f9;
    color: #3ac9f9;
    border-radius: 10px;
    padding: 4px 8px;
}

.shop_wrap:nth-child(1), .shop_wrap:nth-child(5), .shop_wrap:nth-child(9), .shop_wrap:nth-child(13), .shop_wrap:nth-child(17){
    margin-left: 0px;
}



.shop_wrap:nth-child(4), .shop_wrap:nth-child(8), .shop_wrap:nth-child(12), .shop_wrap:nth-child(16), .shop_wrap:nth-child(20){
    margin-right:0px;
}

