#content{
    width: 1125px;
}
#topbar{
    width: 1125px;
    height: 60px;
    border: 1px solid #e7e7e7;
    border-top: 2px solid #000;
    padding: 8px;
    position: relative;
    margin-bottom: 20px;
}
#topbar>*{
    float: left;
}
#seller-info{
    width: 234px;
    border-right: 1px solid #e7e7e7;
}

#seller-info img{
    display: inline-block;
    width: 40px;
    height: 40px;
}

#seller-info #name{
    margin-left: 10px;
}

.other{

    padding: 0 15px;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid #e7e7e7;
}

.other h5{
    color: #999;
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
    margin: 0px;
}

.report{
    position: absolute;
    right: 15px;
    top:10px;
}
.report a{
    text-decoration: none;
    color: #333333;
    font-size: 12px;
}
.wrap{
    overflow: hidden;
}
.slide *{padding:0; margin:0;}
li{list-style:none;}
img{border:none;}
.slide{position:relative;  width:500px;height: 626px; overflow:hidden;float: left}
.slide .big{ position:relative; overflow:hidden; left:0;top:0;}
.slide a{position:absolute; top:220px; opacity:0;z-index:1000;}
.slide .big li{float:left; width:500px;}
.slide .big  li img{width:100%;display:block;}
.slide .prev{left:-10px;}
.slide .next{right:-10px;}
.slide .small{ margin-top:5px; width:100%; position:relative;}
.slide .small li{ float:left;margin-right:5px; width:121px; background:#000;}
.slide .small li:last-child{ margin-right:0;}
.slide .small li img{width:100%;display:block; opacity:0.5;}


.detail{
    float: left;
    margin-left: 120px;
    letter-spacing: 3px;
    max-width: 500px;
}

.detail>*{
    margin-bottom: 22px;
}

.detail .name{
    font-size: 24px;
    font-weight: bold;

}

.detail .price{
    display: inline-block;
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-right: 20px;
}

.detail .postion i{
    margin-right: 10px;
}

.detail .seller-info{
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.detail .contact img{
    width: 20px;
    height: 20px;
}

.sell_out{
    display: inline-block;
    color: red;
    font-size: 16px;
    padding: 2px 6px;
    border: 1px solid red;
    border-radius: 4px;
    margin-left: 20px;

}

.util ul{
    padding-left: 0px;
    overflow: hidden;
}
.util ul li{
    list-style-type: none;
    float: left;
    margin-right: 25px;
}

.util li a{
    color: #000;
    height: 20px;
    line-height: 20px;
    letter-spacing: 1px;
}

.util li a img{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.pay_method{
    margin-bottom: 26px;
}
.pay_method a{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffda44;
    margin-right: 20px;
    color: #000;
    letter-spacing: 2px;
    text-decoration: none;
}
.pay_method a:hover{

    border: 2px solid #ffda44;
    margin-right: 20px;
    color: #fff;
    background-color: #ffda44;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.25s ease 0s;
}

.pay_method a img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.other_shop{
    width: 100%;
    height: auto;
    border: 1px solid #dbdbdb;
    padding: 10px;

}

.other_shop .title{
    overflow: hidden;
    padding-bottom: 6px;
    border-bottom: 1px solid #dbdbdb;
}

.other_shop .title h5{
    float: left;
    margin: 0px;
}
.other_shop .title a{
    float: right;
}

.shop_list ul{
    padding-left: 0px;
    overflow: hidden;
    letter-spacing: 0px;
    font-size: 12px;
    padding-top: 10px;
}
.shop_list ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;

}
.shop_list ul li:last-child{
    margin-right: 0px;
}
.shop_list ul li img{
    width: 80px;
    height: 80px;
    display: inline-block;
    float: left;
    margin-right: 4px;
}
.shop_list ul li div>*{
    display: block;
}
.shop_list ul li div>a{
    color: #000;
}
.shop_list_price:before{
    content: '￥';
}
.shop_list_price{
    color: red;
}

.tab-pane{
    margin-top: 20px;
}